/* You can add global styles to this file, and also import other style files */
:root {
	--main: #232f3e;
  }

.bg-main {
  background-color:var(--main);
}

a {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: #ffc107;
}

button {
  cursor: pointer;
}

section {
  min-height: 600px;
}

h5 {
  overflow-wrap: break-word;
}

.image {
  display: block;
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.star {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  color: #d3d3d3;
}

.full {
  color: gold;
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: gold;
}

/* buttons */

.primary-btn {
	display: inline-block;
	font-size: 14px;
	padding: 12px 30px 10px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 700;
	background: grey;
	border-radius: 2px;
}

.site-btn {
	font-size: 14px;
	color: #ffffff;
	font-weight: 700;
	text-transform: uppercase;
	display: inline-block;
	padding: 13px 30px 12px;
	background: #f03250;
	border: none;
}
